<!DOCTYPE html>

<html>

<head>
  <title>Timestamp Microservice</title>
  <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1 id="title">API and Microservice projects for freeCodeCamp Backend Challenges</h1>
  <p id="pagedescription">A single project containing all of the API endpoints for the
    <a href="http://beta.freecodecamp.com/https://beta.freecodecamp.org/en/challenges/api-and-microservice-projects/timestamp-microservice">backend challenges on freeCodeCamp</a>.</p>
  <h3 id="list-title">API Descriptions</h3>
  <ul id="list-of-projects">
    <li>
      <a href="/timestamp-microservice">Timestamp Microservice</a>
    </li>
    <li>
      <a href="/request-header-parser-microservice">Request Header Parser Microservice</a>
    </li>
    <li>
      <a href="/url-shortener-microservice">URL Shortener Microservice</a> (not finished)
    </li>
    <li>
      <a href="/exercise-tracker">Exercise Tracker</a> (not finished)
    </li>
    <li>
      <a href="/file-metadata-microservice">File Data Microservice</a> (not finished)
    </li>
  </ul>
  <div class="footer">
    <p>
      by
      <a href="https://www.github.com/aaronRhodebeck" target="_blank">Aaron Rhodebeck</a> |
      <a href="https://hyperdev.com/#!/remix/FCC_API_timestamp_bplate/8338be2-a353-4892-8a0d-6295e4f12eb5">Click here to Remix</a>
    </p>
  </div>
</body>

</html>